@using Abp.Web.Mvc.Extensions

@{
    ViewBag.Title = "Index";
}

@section styles{
      <link href="~/Scripts/jtable/themes/metro/blue/jtable.min.css" rel="stylesheet" />  
}

@section Scripts
{
    @Html.IncludeScript("~/Views/Roles/Index.js")
}

<div id="RolesTable"></div>

